.container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    min-height: fit-content;
    background-color: #edf7fa;
    border-radius: 20px;
    padding: 100px 50px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(187, 182, 182, 0.5);
}

.link {
    display: block;
    color: black;
    font-size: 50px;
    font-weight: 600;
    line-height: 29px;
    transition: 0.1s ease-in-out;
    padding: 22px;
    text-align: left;
}

.link:active {
    color: blue;
}
