.wrapper {
	min-height: 100vh;
    max-width: 100%;
	display: flex;
	flex-direction: column;
}
.form {
	min-width: 100%;
	height: calc(100vh - 182px);
}
.footer {
    height: 182px;
    min-height: 182px;
}