.wrapperPage {
    width: 1152px;
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    margin-top: 27px;
    height: 43px;
    min-height: 43px;
}

.content {
    min-height: calc(100vh - (70px + 184px));
    flex-grow: 1;
}

.footer {
    height: 182px;
    min-height: 182px;
}
