.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 14px;
	justify-content: center;
	max-width: 400px;
	margin: auto;
	padding: 20px;
	margin-top: 10%;
}

a {
	color: blue;
}