.headerWrapper {
    padding: 0 90px;
    height: 140px;
}

.header {
    display: flex;
    justify-content: right;
    gap: 22px;
}

.header > * {
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    transition: .1s ease-in-out;
}

.header > *:hover {
    color: blue
}

.headerMobile {
    display: none;
}

@media screen and (max-width: 957px) {
    .headerWrapper {
        padding: 0 30px;
    }

    .header a {
        display: none;
    }

    .headerMobile {
        display: flex;
        justify-content: right;
    }
}