:root {
	--padding: 22px;
}

.wrapperBlog {
	height: fit-content;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	padding: 100px 147px;
	gap: 27px;
}

@media screen and (max-width: 957px) {
	.wrapperBlog {
		margin: 0;
		padding: 0 30px;
		height: fit-content;
		gap: 22px;
	}
}

