:root {
    --padding: 22px;
}

.wrapperCard {
    padding: var(--padding);
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26.5px;
    transition: transform .4s ease-in-out;
}

.wrapperCard:hover {
    transform: translate3D(-7px, -7px, 7px);;
}

.postHeader {
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
}

.postDate {
    min-width: 100%;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.postText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-height: 96px;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media screen and (max-width: 957px) {
    .postText {
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }
}
