:root {
  --padding: 22px;
}

.wrapperCard {
  padding: var(--padding);
  min-width: 100%;
  min-height: 100%;
  border-radius: 0.35em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postHeader {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 38px;
}

.postDate {
  display: flex;
  gap: var(--padding);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.postText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-height: 96px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .wrapperCard {
    padding: 4em;
  }

  .postHeader {
    font-size: 4em;
    line-height: 3em;
  }

  .postDate {
    display: flex;
    gap: 2em;
    font-size: 2.5em;
    line-height: 2em;
  }

  .postText {
    font-size: 2.5em;
    line-height: 2em;
    max-height: 8em;
  }
}
